html, body{
    padding: 0;
    margin: 0;
}
#main{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 700px;
    background-color: lightgray;
}
.header{
    position: relative;
    width: 80%;
    height: 5%;
    margin:0 10%;
    background-color: black;
    border-radius:3px;
    
}
.header div{
    display: block;
    float: left;
    width: 80%;
    height: 100%;
    margin: 0 0 0 10%;
}
.header img{
    display: block;
    height: 100%;
    margin: 0 auto;
}
.header h4{
    display: inline-block;
    color:red;
    position: absolute;
    right: 2%;
    margin: 0;
    font-size: 1.7em;
}
.notificationsView{
    /* display: none; */
    position: relative;
    width: 80%;
    height: 20%;
    margin:0 10%;
    background-color: rgb(204, 10, 10);
    /* visibility: hidden; */
    /* visibility: visible; */
    /* opacity: 0; */
}
.show{
    display: block;
}
.hide{
    display: none;
}

.notificationCart{
    /* display: inline-block; */
display: block;
    background-color: green;
    clear: both;
}
.notificationCart img{
     float: left;
    /*display: block;
    height: 100%;
    width: auto;
    padding:1%; */
    display: block;
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  padding: 3%;
}
.notificationCart p{
    /* float: left; */
    display: inline-block;
}
 /* animations */
 .fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}

.fade-out {
    animation: fadeOut ease 3s;
    -webkit-animation: fadeOut ease 3s;
    -moz-animation: fadeOut ease 3s;
    -o-animation: fadeOut ease 3s;
    -ms-animation: fadeOut ease 3s;
  }
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
  }
}